* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

header {
    background-image: 
        linear-gradient(to left top, rgba(179, 204, 255, 0.2), rgb(159, 191, 223, 0.7)),
        url(img/slider.jpg);
    
    height: 100vh;
    background-size: cover;
}

#background-text {
    color: rgb(7, 66, 61);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%,-50%);
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 250px;
    
}

nav {
    background-color: #7a6f6f9c;
    margin: 0;
    width: 100%;
    height: 5vh;
}

.menu {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}

.menu li{
    display: inline-block;

    margin-left: 1rem;
}

.menu li a {
    text-decoration: none;
    color: rgb(7, 66, 61);
    font-size: 1.6rem;
    transition: all 1s;
    font-weight: 650;
}

.menu li a:hover {
    color: rgb(255, 255, 255);

}


@media (max-width: 768px) { 
    #background-text {
        font-size: 2rem;
    }

    #logo {
        top: 12.5%;
        left: 50%;
        transform: translate(-50%);
    }

    .menu {
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
    }
 }
